extends ../layout

block content
    h1.head-title Welcome to Tweeter!
    if tweets && tweets.length !== 0
        .container
            each tweet in tweets
                .wrapper.row
                    if hasAdminAccess
                        form.form(method='post' action='/tweet/edit/' + tweet._id)
                            .form-group
                                label(for='content') Content:
                                textarea#content.input-field(name='content')= tweet.content
                                input.btn.btn-warning(type='submit', value='Edit')
                                a.btn.btn-danger(href='/tweet/delete/' + tweet._id) Delete
                    else
                        small
                           a(href='/profile/' + tweet.author.username)= tweet.author.username + ', '
                        small= tweet.dateCreated.toString().slice(0, 24)
                        p= tweet.content
                    span= 'Views:' + tweet.views + '(Likes:'
                    span#likes= tweet.likes + ')'
                    .container
                        each tagName in tweet.tags
                            .wrapper.inline
                                a#tag(href='/tag/' + tagName)= tagName
                    if hasUserAccess
                        if tweet.userHasLikedTweet
                            form(method='post' action='/tweet/' + tweet._id + '/dislike')
                                input.btn.btn-danger(type='submit' value='dislike')
                        else
                            form(method='post' action='/tweet/' + tweet._id + '/like')
                                input.btn.btn-success(type='submit' value='Like')

