extends ../../layout

block content
    h2 Admins:
    .cards
        each admin in admins
            .card
                h2= 'Username: ' + admin.username
                p= 'First name: ' + admin.firstName
                p= 'Last name: ' + admin.lastName
                p= 'Age: ' + admin.age
                p= 'Gender: ' + admin.gender1
