extends ../layout

block content
    .product-card
        if hasAdminAccess
             form(method='post' action='/tweet/edit/' + _id)
                .form-group
                    label(for='title') Title:
                    input#title.input-field(name='title' type='text', value=title)
                .form-group
                    label(for='description') Description
                    textarea#description.input-field(name='description')= description
                .form-group
                    input.btn.form-btn.btn-warning(type='submit' value='Edit')
                    a.btn.form-btn.btn-danger(href='/tweet/post/' + _id) Delete
        else
            h2= title
            small= author.username + ', '
            small= dateCreated.toString().slice(0, 23)
            p= description
        p= views
        p= likes
        if hasUserAccess || hasAdminAccess
            if hasNotLikedTopic
                form(method='post' action='/tweet/' + _id + '/like')
                    input.btn.btn-success(type='submit' value='Like')
            if hasLikedTopic
                form(method='post' action='/tweet/' + _id + '/dislike')
                    input.btn.btn-danger(type='submit' value='dislike')
    if hasUserAccess || hasAdminAccess
        .answer-form
            form(method='post')
                .form-group
                    label(for="content") Answer:
                    textarea#content.input-field(name="content")
                .form-group
                    input.form-btn.btn(type='submit', value='Answer')
    .answers
        each answer in answers
            .card
                if hasAdminAccess
                    form(method='post' action='/answer/edit/' + answer._id)
                        .form-group
                            label(for='content')
                            input.input-field(name='content' type='text' value=answer.content)
                else
                    small= answer.author.username
                    p= answer.content

